
h1 {
    color:black;
    font-family: "Times New Roman", Times, serif;
    background-color: white; 
    width: 350px;
    border: 15px solid red;;
    padding: 50px;
    margin: 5px;  
    margin-top: 100px; 
    display: flex;   
  }
  
  h2 {
    color: white;
    font-family: "Times New Roman", Times, serif;
  }

  header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;   
  }

  button{
    background-color: black;
    color:white; 
    font-size: medium;
    outline-color: white;
    outline-width: 100px;
  }

  body {
    background-color: black;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;    
  }

  p{
    color: firebrick;
  }

  @media screen and (max-width: 1008px) {
    #primary { width:100%; }   
}

@media screen and (max-width: 1060px) {
    #primary { width:100%; }      
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
}

