h1 {
    color:white;
    font-family: "Times New Roman", Times, serif;
    margin-top: 100px;
  }
  
  h2 {
    color:white;
    font-family: "Times New Roman", Times, serif;
  }

  h3 {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }

  h4 {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }


  header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: 0.6s;
  }

  button{
    background-color: black;
    color:white; 
    font-size: medium;
    outline-color: white;
    outline-width: 100px;
  }


  body {
    background-color: black;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif; 
  }

  p{
    color:white;
  }