h1 {
    color: blue; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: center; 
    background-color:black;  
    width: 30%; 
    border: 10px dashed purple;
    padding: 20px;
    margin-top: 100px; 
    margin-left: 33%;  
  }

  h2 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
  }
header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    transition: 0.1s;  
    background-image: url(https://lh3.googleusercontent.com/YGJ77qN9KiwctZgfqV8Bf3hNo0rZvcFaPKDTkvtS6kVbtwyCS80Pm6dpXzJCCLZE1Q);  
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 20px;
}

.banner{
    position: relative;
    width: 100%;    
}

body{
    background-color: black;  
}

.Flares{
    background-color: darkblue; 
    color: black;
    font-size: 30px;
    text-align: center;
}

p {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 1080px) {
    #primary { width:100%; }   
}

@media screen and (max-width: 720px) {
    #primary { width:100%; }      
}

@media screen and (max-width: 360px) {
    #primary { width:100%; }
}